Package: hello_ubus
Version: 1
Depends: libc, libmosquitto, libcyassl, libpthread, librt, libubus, liblua, libblobmsg-json, libuci, libsqlite3, libubox, libustream-cyassl, libjson-c, jshn, libopenssl
Source: package/hello_ubus
Section: utils
Architecture: ar71xx
Installed-Size: 3206
Description:  hello ubus
